
.flex_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 15px 0px;
}

#contacts {
   width: 300px;
  height: 250px; 
  padding: 20px 0px;
}

p {
  border-bottom: 1px solid #393184;
  font-weight: 400;
}

#map {
   width: 350px;
  height: 350px; 
  margin: auto;
}

@media (min-width: 1024px){
 #map {
   width: 450px;
   height: 450px;
 }
}