
.Navbar {
    background-color: #393184; 
    display: flex;
    padding: 16px;
    color: #e6e6e6;
  }
  
  .Navbar_link {
    padding: 8px;
  }
  
  .Navbar a:link {
    color: #e6e6e6;
    text-transform: uppercase;
    }
  a:visited {
      color: whitesmoke;
      }
  .Navbar a:hover {
    color: #e6e6e6;
    font-weight: 300;
    border: 2px solid #e6e6e6;
    padding: 3px;
  }
  
  .Navbar_items {
    display: flex;
  }
  
  .Navbar_items_right {
    margin-left:auto;
  }
  
  .Navbar_link_toggle {
    display: none;
  }
  
  @media only screen and (max-width: 768px) {
    .Navbar_items,
    .Navbar {
      flex-direction: column;
    }
      
  .Navbar_items{
      display:none;
    }
      
  .Navbar_items_right {
      margin-left:0;
    }
      
  .Navbar_ToggleShow {
      display: flex;
    }
      
  .Navbar_link_toggle {
      align-self: flex-end;
      display: initial;
      position: absolute;
      cursor: pointer;
     } 
  }
  