
.Navbar {
    /* background-color: #393184;   #544d69*/
    background-image: linear-gradient(to right, #635691,  #393184,#585462, #5b5b5b);
    display: flex;
    padding: 16px;
    color:white;
  }
  
  .Navbar_link {
    padding: 8px;
    text-transform: uppercase;
    transition: all 1s;
  }

  .Navbar_link:hover {
    transform: translate(3px, 3px);
  }

    
  .Navbar_link a {
    color: #e6e6e6; 
  }

  .Navbar_items {
    display: flex;
  }
  
  .Navbar_items_right {
    margin-left:auto;
  }
  
  .Navbar_link_toggle {
    display: none;
  }
  
  @media only screen and (max-width: 768px) {
    .Navbar_items,
    .Navbar {
      flex-direction: column;
    }
      
  .Navbar_items{
      display:none;
    }
      
  .Navbar_items_right {
      margin-left:0;
    }
      
  .Navbar_ToggleShow {
      display: flex;
    }
      
  .Navbar_link_toggle {
      align-self: flex-end;
      display: initial;
      position: absolute;
      cursor: pointer;
     } 
  }
  