header {
  padding-bottom: 15px;

}

header div {
  /* background-color: #393184;  */
  background-image: linear-gradient(to left,  #393184,  #4f4670, #544d69,#585462, #5b5b5b);
  height: 50px;
  text-align: right;
  padding: 10px;
}

header div a {
  padding: 5px;
  color: #e6e6e6;
}

h2 {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    background-color: white;
    height: 180px;
    margin-top: 0;
  }
  
  /* #companyName {
    font-size: 3rem;
    padding-bottom: 30px;
    color: #332A7F;
    font-family: 'Italiana', 'Playfair Display', serif;
  } */
  
  #logo {
    width: 14rem;
    margin-top: 8px;
  }
  
  @media screen and (max-width: 811px) {

    h2 {
     height: 130px;
   }
 
   #logo {
     width: 10rem;
   }
  } 