body {
font-family: 'Playfair Display', 'Italiana', serif;
font-weight: 100;
font-size: 1.2rem;
}


h3 {
  text-align: center;
  font-family: 'Italiana', serif;
  font-weight: 100;
  font-size: 2rem;
}

/* entry boxes */
main {
  background-color: #e6e6e6;
  padding-top: 2rem;
}
.container {
  margin: auto;  
}

img {
  height: auto;
   width: 45rem;
}
   
.entry-header {
  color: #393186;
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
  font-size: 1.5rem;
  padding-bottom: 1rem;

}
.inside-entry-content {
  padding-bottom: 1rem;
  color: #25323f;
}

/* MOBILE */

@media screen and (max-width: 811px) {

.entry-content,
.reverse-order-content{
    max-width: 100%;
    height: auto;
    padding: 25px 30px;
    text-align: center; 
  }

  img {
    height: auto;
     width: 100%;
    }

    h3 {
      font-size: 1.5rem;
    }
}

/* iPAD */

@media only screen 
and (min-width : 812px) 
and (max-width : 1023px) {

  
  .inside-entry-box {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 0 3rem;
  }
  
  .entry-image {
    height: auto;
     max-width: 75%;
     border: 1px solid #e6e6e6;
    padding-bottom: 2rem;
    order: 1;
  } 
  .reverse-order-image {
    height: auto;
     max-width: 75%;
     border: 1px solid #e6e6e6;
    padding-bottom: 2rem;
    order: 2;
  }
   
  .entry-content {
    padding: 2rem;
    width:35%;
    height: auto;
    background: #fff;
    text-align: center;
    order: 2;
    z-index: 2;
    margin-left: -2rem;
  }
  
    .reverse-order-content {
    padding: 2rem;
    width:35%;
    height: auto;
    background: #fff;
    text-align: center;
    order: 1;
    z-index: 2;
    margin-right: -2rem;
    }
  } 

/* DESKTOP  */
@media (min-width: 1024px){

  .inside-entry-box {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 0;
  }
  
  .entry-image {
    height: auto;
     max-width:85%;
     /* border: 1px solid #e6e6e6; */
    padding-bottom: 2rem;
    order: 1;
  } 
  .reverse-order-image {
    height: auto;
     max-width: 85%;
    /* border: 1px solid #e6e6e6; */
    padding-bottom: 2rem;
   order: 2;   
}
   
  .entry-content {
    padding: 2rem;
    width:35%;
    height: auto;
    background: #fff;
    text-align: center;
    order: 2;
    z-index: 2;
    margin-left: -2rem;
  }
  
  .reverse-order-content {
    padding: 2rem;
    width:35%;
    height: auto;
    background: #fff;
    text-align: center;
    order: 1;
    z-index: 2;
    margin-right: -2rem;
    }
  } 

/* entry boxes end */


/* Footer */

footer .container {
  background-color: #393184;
  height: 180px;
  color: #e6e6e6;  
  text-align: center;
  padding-top: 20px;
}


footer a:visited {
  color: #e6e6e6;
}
