body {
font-family: 'Playfair Display', 'Italiana', serif;
font-weight: 100;
font-size: 1.2rem;
}


.ui.block.header {
  margin-bottom: auto;
  text-align: center;
  background-color: #332A7F;
  height: 180px;
}

#companyName {
  font-size: 3rem;
  padding-bottom: 30px;
  color: #fff;
  font-family: 'Italiana', 'Playfair Display', serif;
}

#logo {
  width: 10rem;
  height: auto;
  margin-top: 15px;
}

h3 {
  text-align: center;
  font-family: 'Italiana', serif;
  font-weight: 100;
  font-size: 2rem;
}

/* entry boxes */
main {
  background-color: #e6e6e6;
  padding-top: 2rem;
}
.container {
  margin: auto;  
}

img {
  height: auto;
   width: 45rem;
}
   
.entry-header {
  color: #393186;
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
  font-size: 1.5rem;
  padding-bottom: 1rem;

}
.inside-entry-content {
  padding-bottom: 1rem;
  color: #25323f;
}

/* MOBILE */

@media screen and (max-width: 811px) {

   .ui.block.header {
    height: 130px;
    max-width: 100%;
   text-align: center;
   margin-bottom: auto;
   background-color: #332A7F;

  }

  #companyName {
    font-size: 2rem;
    padding-bottom: 30px;
  
  }

  #logo {
    width: 5rem;
    height: auto;
    margin-top: 15px;
  }

.entry-content,
.reverse-order-content{
    max-width: 100%;
    height: auto;
    padding: 25px 30px;
    text-align: center; 
  }

  img {
    height: auto;
     width: 100%;
    }

    h3 {
      font-size: 1.5rem;
    }
}

/* iPAD */

@media only screen 
and (min-width : 812px) 
and (max-width : 1023px) {

  
  .inside-entry-box {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 0 3rem;
  }
  
  .entry-image {
    height: auto;
     max-width: 75%;
     border: 1px solid #e6e6e6;
    padding-bottom: 2rem;
    order: 1;
  } 
  .reverse-order-image {
    height: auto;
     max-width: 75%;
     border: 1px solid #e6e6e6;
    padding-bottom: 2rem;
    order: 2;
  }
   
  .entry-content {
    padding: 2rem;
    width:35%;
    height: auto;
    background: #fff;
    text-align: center;
    order: 2;
    z-index: 2;
    margin-left: -2rem;
  }
  
    .reverse-order-content {
    padding: 2rem;
    width:35%;
    height: auto;
    background: #fff;
    text-align: center;
    order: 1;
    z-index: 2;
    margin-right: -2rem;
    }
  } 

/* DESKTOP  */
@media (min-width: 1024px){

  .inside-entry-box {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 0;
  }
  
  .entry-image {
    height: auto;
     max-width:85%;
     /* border: 1px solid #e6e6e6; */
    padding-bottom: 2rem;
    order: 1;
  } 
  .reverse-order-image {
    height: auto;
     max-width: 85%;
    /* border: 1px solid #e6e6e6; */
    padding-bottom: 2rem;
   order: 2;   
}
   
  .entry-content {
    padding: 2rem;
    width:35%;
    height: auto;
    background: #fff;
    text-align: center;
    order: 2;
    z-index: 2;
    margin-left: -2rem;
  }
  
  .reverse-order-content {
    padding: 2rem;
    width:35%;
    height: auto;
    background: #fff;
    text-align: center;
    order: 1;
    z-index: 2;
    margin-right: -2rem;
    }
  } 

/* entry boxes end */

/* NAVBAR  */
.Navbar {
  background-color: white;
  display: flex;
  padding: 16px;
  color: #332A7F;
}

.Navbar__Link {
  padding: 8px;
}

.Navbar a:link {
  color: #332A7F;
  text-transform: uppercase;
  }
a:visited {
    color: #25323f;
    }
a:hover {
  color: #332A7F;
}

.Navbar__Items {
  display: flex;
}

.Navbar__Items--right {
  margin-left:auto;
}

.Navbar__Link-toggle {
  display: none;
}

@media only screen and (max-width: 768px) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }
    
.Navbar__Items {
    display:none;
  }
    
.Navbar__Items--right {
    margin-left:0;
  }
    
.Navbar__ToggleShow {
    display: flex;
  }
    
.Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
   } 
}
/* NAVBAR END */

/* Contacts page grid & Google Map */

@media only screen and (max-width: 811px) {
  .grid_container {
    display: grid;
  }
  .grid_item {
    grid-column-start: 1;
    grid-column-end: 2;
    max-width: 500px;
    height: 300px;
    text-align: center;
  }
  #map {
    width: 450px;
    height: 250px
  }  
}
@media only screen and (min-width : 812px) {

  .grid_container {
    display: grid;
    align-content: center;
  }
  
  .grid_item {
    grid-row-start: 1;
    grid-row-end: 2;
    max-width: 600px;
    height: 500px;
  }
  #map {
    width: 550px;
    height: 450px;
    /* float: right; */
  }
  #contacts {
    width:550px;
    height: 450px;
    text-align: center;
  }
}

/* Footer */

footer .container {
  background-color:  #332A7F;
  height: 150px;
  color: #e6e6e6;  
  text-align: center;
  padding-top: 20px;
}

/* footer span {
  float: right;
  padding-top: 2rem;
} */

footer a:visited {
  color: #e6e6e6;
}
